.navbar {
    display: flex;
    flex-direction: row;
    background-color: crimson;
  }
  
  .navElement {
    display: flex;
    margin: 80px;
  }

  .logo {
    display: flex;
    margin: 20px;
    width: 170px;
    height: 200px;
  }

  .carrito {
    margin: 0px;
    height: 250px;
    width: 227px;
  }

 